* {
    margin: 0;
    padding: 0;
}

div.names {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

div.names p {
    margin-left: 10px;
}

.details p,
.shift p {
    margin: 0;
}

.details p.job {
    color: rgb(168, 202, 202);
}

.shift-item {
    padding: 0px 10px;
}

.shift {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10%;
    /* height: 80px; */
    padding: 10px 0px;
    cursor: pointer;
}

.modal-buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.roster-buttons{
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
